/* видима частина вікна браузера */
/* body {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* основний контейнер */
/* .wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
} */

/* оболонка-посилання для однієї зірки */
/* a {
  display: block;
} */

/* зображення однієї зірки */
/* svg {
  stroke: gray;
  stroke-width: 10px;
} */

/* поведінка/дизайн зірок при наведенні лише на першу зірку та попередніх при наведенні на кожну наступну */
/* a[class^="star-"]:hover svg,
a[class^="star-"]:hover ~ a svg {
  fill: #ffd200;
  stroke-width: 0;
} */

/* нова версія */
body {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.star svg {
  stroke: gray;
  stroke-width: 10px;
}

.mark-1 .star-1 svg,
.mark-2 .star-1 svg,
.mark-2 .star-2 svg,
.mark-3 .star-1 svg,
.mark-3 .star-2 svg,
.mark-3 .star-3 svg,
.mark-4 .star-1 svg,
.mark-4 .star-2 svg,
.mark-4 .star-3 svg,
.mark-4 .star-4 svg,
.mark-5 .star-1 svg,
.mark-5 .star-2 svg,
.mark-5 .star-3 svg,
.mark-5 .star-4 svg,
.mark-5 .star-5 svg {
  fill: #ffd200;
  stroke-width: 0;
}
